<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>451791451340-p0lss5sp45smiu8qj3gq63agjspceb9c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451791451340-p0lss5sp45smiu8qj3gq63agjspceb9c</string>
	<key>API_KEY</key>
	<string>AIzaSyBA3x_x-LKweWUXWoG_vEPsPn9_96YRd34</string>
	<key>GCM_SENDER_ID</key>
	<string>451791451340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MichaelHardin.Droppy-Dog</string>
	<key>PROJECT_ID</key>
	<string>droppy-dog</string>
	<key>STORAGE_BUCKET</key>
	<string>droppy-dog.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:451791451340:ios:34f45e9e9223b22b</string>
	<key>DATABASE_URL</key>
	<string>https://droppy-dog.firebaseio.com</string>
</dict>
</plist>